@import "tailwindcss";


/* =========================
   GLOBAL RESET
========================= */

* {
  box-sizing: border-box;
}


html {
  scroll-behavior: smooth;
}


body {
  margin: 0;
  padding: 0;
  background: #050505;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}


/* =========================
   SELECTION
========================= */

::selection {
  background: rgba(34, 211, 238, 0.25);
  color: white;
}


/* =========================
   SCROLLBAR
========================= */

::-webkit-scrollbar {
  width: 8px;
}


::-webkit-scrollbar-track {
  background: #050505;
}


::-webkit-scrollbar-thumb {
  background: #27272a;
  border-radius: 999px;
}


::-webkit-scrollbar-thumb:hover {
  background: #3f3f46;
}


/* =========================
   LINKS
========================= */

a {
  text-decoration: none;
}


/* =========================
   BODY
========================= */

body {
  overflow-x: hidden;
}